# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*

# Keep sample data
!data/sample/

# Environment variables
.env

# MLflow
mlruns/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log